<div class="dashboard_menu">
	<ul class="nav nav-pills">
	  <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
	  <li><a href="/reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
	  <li><a href="/configurations"><span class="glyphicon glyphicon-adjust"></span> Configuration</a></li>
	</ul>
</div>