<% if form_errors.errors.any? %>
  <div id="error_explanation">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2><%= pluralize(form_errors.errors.count, "error") %> prohibited this form from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% form_errors.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>