<% if form_errors.errors.any? %>
  <div id="error_explanation">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2>Error en:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% form_errors.errors.each do |attr,msg|  %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>