<div class="dashboard_menu">
	<ul class="nav nav-pills">
	 <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Usuarios</a></li><!--Users-->
	  <li><a href="/reports"><span class="glyphicon glyphicon-stats"></span> Reportes</a></li><!--Reports-->
	  <li><a href="/configurations"><span class="glyphicon glyphicon-adjust"></span> Configuraciones</a></li><!--Configuration-->
 	
	</ul>
</div>